# PostgreSQL
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=sesh_db
DB_PORT=5432

# Database URL für Prisma
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@localhost:${DB_PORT}/${DB_NAME}?schema=public

# App
PORT=3000
NODE_ENV=development